:root {
    --body-color: 48 48 58;

    --font-color: 255 255 255;
    --highlight-color: 0 0 0;

    --theme-background: 20 20 20;

    --theme-light: 0 0 0;
    --theme-medium: 0 0 0;
    --theme-dark: 0 0 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

header {
    position: relative;
    display: flex;
    position: sticky;
    flex-direction: column;
    top: 0;
    width: 100%;
}

.index {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 40px;
}

.sitename {
    font-size: 30px;
    font-weight: bold;
    margin-top: 8px;
    text-shadow: 1px 1px 2px rgba(38, 34, 34, 0.382);
    color: #000;
}

.navicon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
}

.icon {
    width: 52px;
    height: 52px;
}

.nav-item {
    display: flex;
    margin: 10px 10px 0 0;
    align-items: baseline;
}

.nav-item a {
    text-decoration: none;
    color: #0a0a0a;
    border: 0 solid #e5e7eb;
    padding: 5px 12px;
    margin-right: 34px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

button,
.btn-1,
.btn-2 {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 8px 20px;
    border-radius: 7px;
    background-color: rgb(17, 81, 191);
    color: #fff;
    font-weight: 600;
    border: none;
    font-family: "Poppins", serif;
    text-decoration: none;
}

.button {
    background-color: #fff;
    color: #000;
}

.body {
    position: relative;
    width: 100%;
    overflow: hidden;
    color: #fff;
}

.profile_image img {
    position: absolute;
    padding-top: 52px;
    gap: 4rem;
    z-index: 1;

}

.background-image {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url(./images/bacckground.jpg);
    width: 100%;
    height: 75vh;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.8);
}

.background-cover {
    position: relative;
    background: black;
    width: 100%;
    height: 70vh;
    z-index: 0;
    object-fit: cover;
}


.background-details {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    margin-right: 7%;
    padding-bottom: 2%;
}

.typewriter {
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 2px #000;
    padding: 12px 0;
}

.typewriter h2 {
    font-size: 32px;
}

#element {
    font-size: 62px;
}

.btn-box {
    display: flex;
    gap: 2rem;
}

.description {
    text-shadow: 1px 1px 0 #000;
    font-weight: 500;
    padding: 20px 0;
}

.body-below {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 30px 60px;
}

.body-detail span {
    font-size: 32px;
    font-weight: 600;
}

.color {
    color: #f04343;
    font-weight: 700;
}

.body-detail-more {
    font-size: 20px;
    line-height: 2.8;
    font-weight: 500;
}

/* ---------------------------body_part------------------------------------------ */

.about-title {
    font-size: 32px;
    font-weight: 700;
    margin-left: 8%;

}

.body-part {
    display: flex;
    position: relative;
    padding-inline: 7%;
}


.about {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.part1 {
    display: flex;
    max-width: 40%;
}

.part2 {
    max-width: 40%;
}