.margin1{
    margin: 20px 100px;
}
.margintd{
    margin-top: 10px;
    margin-bottom: 45px;}

.border{
    border: 2px solid rgb(255, 230, 0);
}
.red{
    border: 2px solid red;
}

.green{
    border: 2px solid rgb(51, 255, 0);
}