<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitnessandworkout</title>
    <link rel="stylesheet" href="newstyle.css">
    <link rel="stylesheet" href="ultility.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>


    <header>
        <div class="index margin1">

            <div class="navicon" onclick="window.location.href='#'">
                <img class="icon" src="./images/logo.png" alt="reloading...">
                <span class="sitename">RV <span class="s" style="color: #e32319;">FITNESS</span></span>
            </div>

            <div class="nav-item">
                <a href="#">HOME</a>
                <a href="#">ABOUT US</a>
                <a href="#">CONTACT US</a>
                <a href="#">PRIVACY POLICY</a>
            </div>
            <div>
                <button>Get Started</button>
                <button class="button">CALL NOW</button>
            </div>
            <script>
                var active = document.querySelector('. name active');
                active.classList.add('activeNav');

            </script>
        </div>

        <!-- <div class="navbaritems">
            <i class="fa fa-bars" onclick="openNav();"></i>
            <a href="https://timetosweat.in"><i class="fa fa-home"></i></a>
            <span class="hide">
                <a href="fitnessandworkout.html">Fitness&Workout</a></span>
            <a href="looseweight.html">Loose Weight</a>
            <span class="hide"></span><a href="buildmuscle.html">Build Muscle</a></span>

            <div class="searchbar">
                <input type="search" placeholder=" Explore exercise options 💪...">
            </div>
<p>
                                                        Now we have a international Standard equipment with certified
                                                        trainers.
                                                        Our internationally certified gym trainers help accomplish your
                                                        fitness and weight loss goals, quicker. </p>
                                                        <p align="center">Get in shape, boost confidence, and transform your body with our gym's effective
                        expert
                        guidance.<br> <span class="p_hide">
                            Join our supportive community and achieve your<span class="v"> muscle building goals
                            </span>with confidence...</span>
                    </p>
                </div>
            </div> -->
    </header>
    <div class="body">