<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="looseweight.css">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buildmuscle</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
          <link rel="icon" type="image/x-icon" href="photos/favicon.png">
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
</head>

<body>


    <header>
        <div class="index">

            <div class="navicon" onclick="window.location.href='/'">
                <img class="icon" src="photos/timetosweaticon.png" alt="reloading...">
                <span class="sitename">imeto<span class="s">S</span>weat</span>
            </div>

            <div class="nav-item">
                <a href="https://timetosweat.in">HOME</a>
                <a href="about.html">ABOUT US</a>
                <a href="contactus.html">CONTACT US</a>
                <a href="privacy.html">PRIVACY POLICY</a>
            </div>
            <script>
                var active = document.querySelector('. name active');
                active.classList.add('activeNav');

            </script>
        </div>




        <div class="navbaritems">
            <i class="fa fa-bars" onclick="openNav();"></i>
            <a href="https://timetosweat.in"><i class="fa fa-home"></i></a>
            <span class="hide">
                <a href="fitnessandworkout.html">Fitness&Workout</a></span>
            <a href="looseweight.html">Loose Weight</a>
            <span class="hide"></span><a href="buildmuscle.html">Build Muscle</a></span>

            <div class="searchbar">
                <input type="search" placeholder=" Explore exercise options 💪...">
            </div>

        </div>
    </header><br><br><br><br><br>
</body>

</html>

<div class="looseweight">
    <div class="exercisesection" onclick="window.location.href='chest.html'"><img src="photos/thechest.png" alt="error..">
        <h2>Chest</h2>
        <p>Are you ready to build a strong and impressive chest? Our specialized workout routines are designed to
            help you develop a well-defined and muscular upper body. Whether you're a beginner or an experienced
            lifter, our exercises target the major muscles of the chest, including the pectoralis major and minor.
        </p>
    </div>
    <div class="exercisesection" onclick="window.location.href='back.html'"><img src="photos/back.png"
            alt="error..">
        <h2>Back</h2>
        <p>Are you ready to unlock the strength and power of your back? Our tailored workout routines are designed
            to help you build a robust and impressive upper body. Whether you're a beginner or a seasoned fitness
            enthusiast, our exercises target the major muscles of your back, including the latissimus dorsi,
            rhomboids, and trapezius.</p>
    </div>
    <div class="exercisesection" onclick="window.location.href='biceps.html'"> <img src="photos/originalbiceps.png"
            alt="error..">
        <h2>Biceps</h2>
        <p>Are you ready to sculpt a pair of strong and impressive biceps? Our specialized workout routines are
            designed to help you develop the powerful arms you've always desired. Whether you're a beginner or a
            seasoned lifter, our exercises target the biceps brachii muscle, the key player in achieving
            well-defined and muscular arms.</p>
    </div>
    <div class="exercisesection" onclick="window.location.href='triceps.html'"><img src="photos/mainbiceps.png"
            alt="error..">
        <h2>Triceps</h2>
        <p>Are you ready to build strong and defined triceps? Our specialized workout routines are designed to help
            you sculpt and strengthen the muscles in the back of your upper arms. Whether you're a beginner or an
            advanced fitness enthusiast, our exercises specifically target the triceps brachii, the key muscle group
            responsible for arm extension and overall arm strength.</p>
    </div>
    <div class="exercisesection" onclick="window.location.href='shoulder.html'"><img src="photos/mainshoulder.png"
            alt="error..">
        <h2>Shoulders</h2>
        <p>Are you ready to build broad and strong shoulders? Our specialized workout routines are designed to help
            you develop impressive shoulder muscles and enhance your upper body strength. Whether you're a beginner
            or an experienced lifter, our exercises target the deltoid muscles, comprising the anterior, medial, and
            posterior heads, which play a vital role in shoulder stability and aesthetics.</p>
    </div>
    <div class="exercisesection" onclick="window.location.href='legs.html'"><img src="photos/originalleg.png"
            alt="error..">
        <h2>Legs</h2>
        <p>Are you ready to build a pair of strong and well-defined legs? Our specialized workout routines are
            designed to help you develop powerful lower body muscles and enhance your overall leg strength. Whether
            you're a beginner or an experienced fitness enthusiast, our exercises target the major muscles of the
            legs, including the quadriceps, hamstrings, calves, and glutes.</p>
    </div>
</div>


<br><br><br>
<div class="refrence">
    <span class="formargin">
        <h3>Refrences</h3>

        <h5>PHOTOS</h5>
        <Li>iStock</Li>
        <Li>Fontawesome</Li>
        <Li>Wallpaperflare</Li>
        <Li>Unsplash</Li>

        <h5>GIF'S</h5>
        <Li>inspire usa foundation</Li>
        <li>cloudfront.net</li>
        <Li>fitnessprogramer</Li>
        <Li>newlife</Li>

        <h2>Inspired Designed By- Softnote.in</h2>
    </span>

</div>
<br><br><br><br><br>
<footer>
    <div class="underfooter">
        <div class="bNavicon">
            <div class="bNcontainer">

                <img class="icon" src="photos/timetosweaticon.png" alt="reloading...">
                <span class="sitename">imeto<span class="s">S</span>weat</span>
            </div>


            <p><span>Stay fit with TimetoSweat! Our website offers a comprehensive gym workout schedule to help you
                    achieve your fitness goals. Whether you're looking to lose weight, build muscle, or simply stay
                    in shape, we've got you covered. Get ready to sweat and transform your body. Start your fitness
                    journey today!</span> </p>
        </div>

        <div class="bottonNav">
            <div class="aboutbottom">
                <span>ABOUT US</span>
                <ul type="square">
                    <li><a href="about.html">About Us</a></li>
            </div>
            <div class="terms">
                <span>TERMS</span>
                <ul type="square">
                    <li><a href="#">Terms and condition</a></li>
            </div>
            <div class="cotactbottom">
                <span>CONTACT</span>
                <ul type="square">
                    <li><a href="#">+91 9330378959</a> </li>
            </div>
        </div>

    </div>
    <div class="copyrightfooter">
        <p><br><br>Copyrights © 2023 TimetoSweat. All rights reserved.
            TimetoSweatis Powered by TimetoSweat Team.</p>
    </div>
</footer>
<script src="script.js"></script>






</body>

</html>